<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  
	<body>
		<%- include('partials/header') %>
		<!-- fin del header -->

    <div class="container ">
      <section>
        <div class="row productDetail">
          <div class="col-12 col-lg-7">
            <figure>
              <img src="/img/products/<%= producto.image %> " alt="" id="imagen__product">
            </figure>
          </div>
          <div class="col-12 col-lg-5">
            <h2>
              <%= producto.name %> 
            </h2>
            <h2>
              $<%= producto.price %> 
            </h2>
            <button class="btn btn-primary btn-block"><a href="/products/edit/<%= producto.id_products%>">EDITAR</a></button>
            <form action="">
              <input type="number" class="form-control js-quantity-input form-control-inline" autocorrect="off" autocapitalize="off" name="quantity" value="1" min="1" aria-label="Cambiar cantidad">
              <h3>18 cuotas de <%= (producto.price/18).toFixed(2) %> </h3>
              <div class="pagos__detail">
                
                <img
                  src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
                  data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
                  class="icon-logo lazyloaded"
                  alt="visa"
                />
                <img
                  src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
                  data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
                  class="icon-logo lazyloaded"
                  alt="mastercard"
                />
                <img
                  src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png"
                  data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png"
                  class="icon-logo lazyloaded"
                  alt="amex"
                />
                <img
                  src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png"
                  data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png"
                  class="icon-logo lazyloaded"
                  alt="ar_tarjeta-naranja"
                />
                <img
                  src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png"
                  data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png"
                  class="icon-logo lazyloaded"
                  alt="mercadopago"
                />
                <img
                  src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png"
                  data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png"
                  class="icon-logo lazyloaded"
                  alt="pagofacil"
                />
                <img
                  src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png"
                  data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png"
                  class="icon-logo lazyloaded"
                  alt="rapipago"
                />
              </div>
              <input type="button" id="boton" value="AGREGAR AL CARRITO">    
            </form>
          </div>
        </div>

        <div class="row descripcion"> 
          <div class="col-12">
            <h2>
              <%= producto.name %> 
            </h2>
            <p>
              <%= producto.description %>
            </p>
          </div>
        </div>
      </div> 
      </section>
    </div>
		
		<%- include('partials/footer') %>
	</body>
</html>
