<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>

  <body>
    <!-- ENCABEZADO -->
    <%- include('partials/header') %>
    <!-- ENCABEZADO -->

    <div class="container sections">
      <section>
        <div class="row articulos">
          <div class="col-12 titulo">
            <h2><%= title %></h2>
          </div>

          <% products.forEach(product => { %>

          <div class="col-12 col-md-6 col-lg-3">
            <a href="/products/<%= product.id_products %> ">
              <div class="productos">
                <figure>
                  <img
                    src="/img/products/<%- product.image %> "
                    alt=""
                    class="figure"
                  />
                </figure>
                <article>
                  <!--precio-->
                  <h2>$ <%= product.price %></h2>
                  <!--nombre del producto ??-->
                  <p><%= product.name %></p>
                </article>
              </div>
            </a>
          </div>

          <% }) %>
        </div>
      </section>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
