<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head') %>
	<script src="/javascript/productEdit.js"></script>
	
	<body>
		<%- include('partials/header') %>
		<!-- fin del header -->
		
		<section class="container formularioCarga" >
			<h2>
				Publicar Producto
			</h2>
			<div class="row"id="form__create">
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center vistaPrevia"
				>
					<img
						src="/img/products/<%= producto.image %> "
						class="image-fluid"
						alt="Responsive image"
					/>
				</div>
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center formularioCarga"
				>
					<form action="/products/edit/<%= producto.id_products %>?_method=PUT" method="POST" enctype="multipart/form-data" id="edit">
						<ul>
							<li>
								<input type="file" id="image" name="image" accept="image/*" value="/img/products/<%= producto.image %>" />
								<small class="text-danger" id="errorImage"><%= (typeof errors != 'undefined' && errors.image)?errors.image.msg: "" %> </small>
							</li>
							<li>
								<p>Nombre del producto:</p>
								<input type="text" name="name" value="<%= producto.name %> " id="name">
								<small class="text-danger" id="errorName"><%= (typeof errors != 'undefined' &&errors.name)?errors.name.msg: "" %></small>
							</li>
							<li>
								<p>Descripción:</p>
								<textarea
									name="description"
									id="description__product__edit"
									cols="30"
									rows="4"
								><%= producto.description %> </textarea>
								<small class="text-danger" id="errorDescription"><%= (typeof errors != 'undefined' &&errors.description)?errors.description.msg: "" %></small>
							</li>
							<li>
								<p>Categoria:</p>
								<select id="categoria" name='category' id="form__categoria__producto">
									<% for(i=0; i<categorias.length; i++){ %>
										<option value="<%= categorias[i].id_category%>"><%= categorias[i].name%></option>
									<% } %>
								</select>
							</li>
							<!-- <li>
								<p>Color</p>
									<input type="text" name="colors" value="<%= producto.colors %> "/>
								</select>
							</li> -->
							<li>
								<p>Precio:</p>
								<input type="number" name="price" value="<%= producto.price %>" id="price" min="0" list="defaultPrice" />
								<!-- <datalist id='defaultPrice'>
									<option value="<%= producto.price %>">
								</datalist> -->
								<small class="text-danger" id="errorPrice"><%= (typeof errors != 'undefined' &&errors.price)?errors.price.msg: "" %></small>
							</li>
						</ul>
						<button type="submit" name="id" value="<%= producto.id %> "id="boton">Cargar Producto</button>
						<span class="text-danger" id="errorSumbitEdit"></span>
					</form>
					<form action="/products/delete/<%= producto.id_products %>?_method=DELETE" method="POST" id="delete">
						<button type="submit"id="boton">Eliminar Producto</button>
					</form>
				</div>
			</div>
		</section>

		<%- include('partials/footer') %>
	</body>
</html>
