<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head') %>
	<body>
		<%- include('partials/header') %>

		<section class="container formularioCarga" >
			<h2>
				Publicar Producto
			</h2>
			<div class="row"id="form__create">
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center vistaPrevia"
				>
					<img
						src="/img/weebly_image_sample.png"
						class="image-fluid"
						alt="Responsive image"
					/>
				</div>
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center formularioCarga"
				>
				
					<form action="" method="POST" enctype="multipart/form-data">
						<ul>
							<li>
								<input type="file" id="img" name="image" accept="image/*" />
							</li>
							<li>
								<p>Nombre del producto:</p>
								<input type="text"
									class="form-control<%= (typeof old != 'undefined' && old.name)?"is-valid":(typeof errors != "undefined" && errors.name)?"is-invalid": "" %>"
									name="name" 
									id=""
									value="<%= (typeof old!= 'undefined' && old.name)?old.name:'' %> "
									placeholder="Nombre del Producto"
									cols="30"
									rows="1"
								/><br>
								<small class="text-danger"><%= (typeof errors != 'undefined' && errors.name)?errors.name.msg: "" %> </small>
							</li>
							<li>
								<p>Descripción:</p>
								<textarea
									class="form-control <%= (typeof old != "undefined" && old.description)?"is-valid":(typeof errors != "undefined" && errors.description)?"is-invalid": "" %>"
									name="description"
									id=""
									cols="30"
									rows="4"
									value="<%= (typeof old!='undefined' && old.description)?old.description:'' %> "
								></textarea>
								<small class="text-danger"><%= (typeof errors !='undefined' && errors.description)?errors.description.msg: "" %> </small>
							</li>
							<li>
								<p>Categoria:</p>
								<input list="categoria" name="category" id="form__categoria__producto">
  								<datalist id="categoria">
										<% categorias.forEach(categoria => { %>	 
										<option value="<%= categoria.name %> ">
											<% }) %>
  								</datalist>
							</li>
							<!-- <li>
								<p>Color</p>
									<input type="text" name="colors"/>
								</select>
							</li> -->
							<li>
								<p>Precio:</p>
								<input class="<%= (typeof old != "undefined" && old.price)?"is-valid":(typeof errors != "undefined" && errors.price)?"is-invalid": "" %> " type="number" name="price"
								value="<%= (typeof old!='undefined' && old.price)?old.price:'' %> "/><br>
								<small class="text-danger"><%= (typeof errors !='undefined' && errors.price)?errors.price.msg: "" %> </small>
							</li>
						</ul>
						<button type="submit"id="boton">Cargar Producto</button>
					</form>
					
				</div>
			</div>
		</section>

		<%- include('partials/footer') %>
	</body>
</html>
