<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head') %>
	
	<body>
		<%- include('partials/header') %>
		<!-- fin del header -->
		
		<section class="container formularioCarga" >
			<h2>
				Publicar Producto
			</h2>
			<div class="row"id="form__create">
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center vistaPrevia"
				>
					<img
						src="/img/products/<%= producto.image %> "
						class="image-fluid"
						alt="Responsive image"
					/>
				</div>
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center formularioCarga"
				>
					<form action="/products/edit/<%= producto.id_products %>?_method=PUT" method="POST" enctype="multipart/form-data">
						<ul>
							<li>
								<input type="file" id="image" name="image" accept="image/*" />
							</li>
							<li>
								<p>Nombre del producto:</p>
								<input type="text" name="name" value="<%= producto.name %> ">
							</li>
							<li>
								<p>Descripción:</p>
								<textarea
									name="description"
									id="description__product__edit"
									cols="30"
									rows="4"
								><%= producto.description %> </textarea>
							</li>
							<li>
								<p>Categoria:</p>
								<input list="categoria" name="category"  >
								<datalist id="categoria">
									<% categorias.forEach(categoria => { %>	 
									<option value="<%= categoria.id_category%>"><%= categoria.name%></option>
										<% }) %>
							  </datalist>
							</li>
							<!-- <li>
								<p>Color</p>
									<input type="text" name="colors" value="<%= producto.colors %> "/>
								</select>
							</li> -->
							<li>
								<p>Precio:</p>
								<input type="text" name="price" value="<%= producto.price %> "/>
							</li>
						</ul>
						<button type="submit" name="id" value="<%= producto.id %> "id="boton">Cargar Producto</button>
					</form>
					<form action="/products/delete/<%= producto.id_products %>?_method=DELETE" method="POST">
						<button type="submit"id="boton">Eliminar Producto</button>
					</form>
				</div>
			</div>
		</section>

		<%- include('partials/footer') %>
	</body>
</html>
