<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <script src="/javascript/UserLogin.js"></script>

  <body>
    <%- include('partials/header') %>
    <!-- fin del header -->

    <div class="mt-4">
      <section class="page-header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="h2_titulo">Iniciar Sesión</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="account-page">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-8">
              <form id="login-form" action="" method="POST" class="form__reg">
                <div class="form-group">
                  <label class="form-label" for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    class="form-control"
                    autocorrect="off"
                    autocapitalize="off"
                    name="email"
                  />
                  <small class="text-danger" id="errorEmail"
                    ><%= (typeof errors != 'undefined' &&
                    errors.email)?errors.email.msg: "" %>
                  </small>
                </div>
                <div class="form-group">
                  <label class="form-label" for="password">Contraseña</label>
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="off"
                    name="password"
                  />
                  <small class="text-danger" id="errorPassword"
                    ><%= (typeof errors != 'undefined' &&
                    errors.password)?errors.password.msg: "" %>
                  </small>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="Recordarme"
                    id=""
                    value="Recordarme"
                  />
                  <label class="form-label" for="checkbox">Recordarme</label>
                  <a href="/users/register">Creá tu cuenta</a>
                  <!-- Falta estilizar esto para alinearlo a la izquierda del contenedor -->
                </div>
                <!-- <input
                  class="btn btn-primary btn-block"
                  type="submit"
                  value="Iniciar Sesión"
                  name=""
                  disabled=""
                  id="boton"
                /> -->
                <div class="form-group">
                  <span class="text-danger" id="errorSumbitLog"></span>
                  <button
                    type="submit"
                    class="btn btn-primary btn-block"
                    value="Iniciar Sesión"
                    id="boton"
                  >
                    Iniciar Sesión
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
