<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <div class="container sections">
      <section>
        <div class="row articulos">
          <div class="col-12">
            <h1>Perfil de usuario</h1>
          </div>
          
          <div class="col-12 user_info">
            <form
              action="/users/editProfile/<%= user.id_user %> ?_method=PUT"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-row justify-content-center">
                <div class="col-12 imagen_profile">
                  <img src="/img/users/<%= user.avatar %> " alt="" />
                </div>
                <div class="form-group col-12 col-lg-3">
                  <label for="first_name">Nombre:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="first_name"
                    id="first_name"
                    value="<%= user.first_name %>"
                    disabled
                  />
                </div>
                <div class="form-group col-12 col-lg-3">
                  <label for="last_name">Apellido:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="last_name"
                    id="last_name"
                    value="<%= user.last_name %>"
                    disabled
                  />
                </div>
                <div class="form-group col-12 col-lg-6">
                  <label for="email">Email:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="email"
                    id="email"
                    value="<%= user.user_mail %>"
                    disabled
                  />
                </div>
                <div class="form-group col-12 col-lg-3">
                  <label for="address">Dirección:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="address"
                    id="address"
                    value="<%= user.address %>"
                  />
                </div>
                <div class="form-group col-12 col-lg-3">
                  <label for="city">Ciudad:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="city"
                    id="city"
                    value="<%= user.city %>"
                  />
                </div>
                <div class="form-group col-12 col-lg-3">
                  <label for="province">Provincia:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="province"
                    id="province"
                    value="<%= user.province %>"
                  />
                </div>
                <div class="form-group col-12 col-lg-3">
                  <label for="department">Departamento:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="department"
                    id="department"
                    value="<%= user.department %>"
                  />
                </div class="form-group col-12 ">
                  <button
                    type="submit"
                    id="boton"
                    class="btn-sm btn-primary m-1"
                  >
                    Actualizar datos
                  </button>
                </div>

              
              </form>
              <form
                action="/users/delete/<%= user.id_user %>?_method=DELETE"
                method="POST"
                class="form__btn__delete"
              >
              <button type="submit" id="boton_borrar" class="btn-sm btn-danger">
                Borrar cuenta
              </button>
            </form>
          </div>
        </div>
      </section>
      <section>

        <div class="row articulos">
          <div class="col-12 titulo">
              <h1>Articulos Guardados</h1>
          </div>

          <% principal.forEach(producto => { %>
          <div class="col-12 col-md-6 col-lg-3">
            <a href="/products/<%= producto.id %> ">
              <div class="productos">
                <figure>
                  <img
                    src="/img/products/<%- producto.image %> "
                    alt=""
                    class="figure"
                  />
                </figure>
                <article>
                  <!--precio-->
                  <h2>$ <%= producto.price %></h2>
                  <!--nombre del producto ??-->
                  <p><%= producto.name %></p>
                </article>
              </div>
            </a>
          </div>
          <% }) %>
        </div>
      </section>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
