<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %>
  <script src="/javascript/UserRegister.js"></script>

  <body>
    <%- include('partials/header') %>
    <!-- fin del header -->

    <div class="mt-4">
      <!-- CREAR CUENTA titulo-->
      <section class="page-header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>Crear cuenta</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="account-page">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-8">
              <form
                action=""
                method="POST"
                class="form__reg"
                enctype="multipart/form-data"
                id="register"
              >
                <div class="form-group">
                  <label class="form-label" for="first_name">Nombre</label>
                  <input type="text" class="form-control <%= (typeof old !=
                  'undefined' && old.first_name)?"is-valid":(typeof errors !=
                  "undefined" && errors.first_name)?"is-invalid": "" %>"
                  id="first_name" name="first_name" placeholder="nombre"
                  value="<%= (typeof old!= 'undefined' &&
                  old.first_name)?old.first_name:"" %> "/>
                  <small class="text-danger" id="errorFirst_name"
                    ><%= (typeof errors != 'undefined' &&
                    errors.first_name)?errors.first_name.msg: "" %>
                  </small>
                </div>
                <div class="form-group">
                  <label class="form-label" for="name">Apellido</label>
                  <input type="text" id="last_name" class="form-control <%=
                  (typeof old != 'undefined' &&
                  old.last_name)?"is-valid":(typeof errors != "undefined" &&
                  errors.last_name)?"is-invalid": "" %>" autocorrect="off"
                  name="last_name" placeholder="Apellido" value="<%= (typeof
                  old!= 'undefined' && old.last_name)?old.last_name:'' %> " />
                  <small class="text-danger" id="errorLast_name"
                    ><%= (typeof errors != 'undefined' &&
                    errors.last_name)?errors.last_name.msg: "" %>
                  </small>
                </div>
                <div class="form-group">
                  <label class="form-label" for="email">Email</label>
                  <input type="email" id="email" class="form-control <%= (typeof
                  old != 'undefined' && old.email)?"is-valid":(typeof errors !=
                  "undefined" && errors.email)?"is-invalid": "" %>"
                  autocorrect="off" name="email" placeholder="Email" value="<%=
                  (typeof old!= 'undefined' && old.email)?old.email:"" %> " />
                  <small class="text-danger" id="errorEmail"
                    ><%= (typeof errors != 'undefined' &&
                    errors.email)?errors.email.msg: "" %>
                  </small>
                </div>
                <div class="form-group">
                  <label class="form-label" for="password">Contrase単a</label>
                  <input type="password" id="password" class="form-control <%=
                  (typeof errors != 'undefined' &&
                  errors.password)?"is-invalid": "" %>" autocorrect="off"
                  name="password" placeholder="Contrase単a" />
                  <small class="text-danger" id="errorPassword"
                    ><%= (typeof errors != 'undefined' &&
                    errors.password)?errors.password.msg: "" %>
                  </small>
                </div>
                <div class="form-group">
                  <label class="form-label" for="password_confirmation"
                    >Confirmar Contrase単a</label
                  >
                  <input type="password" id="password_confirmation"
                  class="form-control <%= (typeof errors != 'undefined' &&
                  errors.password_confirmation)?"is-invalid": "" %>"
                  autocorrect="off" name="password_confirmation"
                  placeholder="Repetir Contrase単a" />
                  <small class="text-danger" id="errorPassword_confirmation"
                    ><%= (typeof errors != 'undefined' &&
                    errors.password_confirmation)?errors.password_confirmation.msg:
                    "" %>
                  </small>
                </div>
                <div>
                  <input
                    type="file"
                    class="custom-file"
                    id="avatar"
                    name="avatar"
                    accept="image/*"
                  />
                  <small class="text-danger" id="errorAvatar"
                    ><%= (typeof errors != 'undefined' &&
                    errors.avatar)?errors.avatar.msg: "" %>
                  </small>
                </div>
                <div class="form-group">
                  <span class="text-danger" id="errorSumbit"></span>
                  <button
                    type="submit"
                    id="boton"
                    class="btn btn-primary btn-block"
                  >
                    Crear cuenta
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
