<!DOCTYPE html>
<html lang="es">
	<%- include('partials/head') %>
	
	<body>
		<%- include('partials/header') %>
		<!-- fin del header -->
		
		<section class="container formularioCarga" >
			<h2>
				Prublicar Producto
			</h2>
			<div class="row"id="form__create">
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center vistaPrevia"
				>
					<img
						src="/img/products/<%= productoEdit.image %> "
						class="image-fluid"
						alt="Responsive image"
					/>
					<form action="" style="margin-top: 10px;">
						<input type="file" id="img" name="img" accept="image/*" />
					</form>
				</div>
				<div
					class="col-12 col-sm-12 col-md-6 col-lg-6 align-items-center justify-content-center formularioCarga"
				>
					<form action="" method="POST" enctype="multipart/form-data">
						<ul>
							<li>
								<p>Nombre del producto:</p>
								<input type="text" value="<%= productoEdit.name %> ">
							</li>
							<li>
								<p>Descripción:</p>
								<textarea
									name="descripcion"
									id="description__product__edit"
									cols="30"
									rows="4"
								><%= productoEdit.description %> </textarea>
							</li>
							<li>
								<p>Categoria:</p>
								<select name="Category" id="Category">
									<option value="p1">Producto1</option>
								</select>
							</li>
							<li>
								<p>Color</p>
									<input type="text" value="<%= productoEdit.colors %> "/>
								</select>
							</li>
							<li>
								<p>Precio:</p>
								<input type="text" value="<%= productoEdit.price %> "/>
							</li>
						</ul>
						<button type="submit" name="id" value=<%= productoEdit.id %> >Cargar Producto</button>
						<button type="reset">Borrar Producto</button>
					</form>
				</div>
			</div>
		</section>

		<%- include('partials/footer') %>
	</body>
</html>
